<!DOCTYPE html>
<html>
  <head>
    <title><%= pageTitle %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include( "./includes/appbar0" ) %>
    <main>
        <h2><%= edit ? "Edit Products" : "Add Product" %></h2>
        <form method="POST" action="<%= edit ? '/products/edit' : '/products/add' %>">
            <% if( edit ) { %>
                <input type="hidden" name="productId" value="<%= product.id %>">
            <% } %>
            <p>
                <label>Title
                    <input type="text" class="form-control" name="title"
                    value="<%= edit ? product.title : '' %>">
                </label>
            </p>
            <p>
                <label>Image Url
                    <input type="text" class="form-control" name="image"
                    value="<%= edit ? product.image : '' %>">
                </label>
            </p>
            <p>
                <label>Price
                    <input type="number" step="any" class="form-control" name="price"
                    value="<%= edit ? product.price : '' %>">
                </label>
            </p>
            <p>
                <label>Description
                    <textarea cols="30" rows="10" class="form-control" name="description">
                    <%= edit ? product.description : '' %>
                    </textarea>
                </label>
            </p>
            <p><button><%= edit ? 'Edit Product' : 'Add Product' %></button></p>
        </form>
        addProduct
    </main>
  </body>
</html>
